body {
  font-family: sans-serif;
  color: black;
  background-color: #f1f1f1;
  font-size: 40px;
  margin: 1em;
}

form {
  display: inline-block;
}

h1 {
  margin-left: 10px;
}
nav {
  margin-bottom: 50px;
}

nav ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1.5em;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #0800ff;
}

a {
  color: #000000;
}

button {
  display: flex;
  font-size: 40px;
  margin-bottom: 20px;
}
